https://www.kaggle.com/competitions/nlp-getting-started

# Importing Libs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option("max_columns",100)
pd.set_option("max_rows",100)

**Adding data**

In [3]:
df1=pd.read_csv("train.csv")

In [4]:
df1.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
df1.shape

(7613, 5)

In [6]:
df1.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [8]:
df2=pd.read_csv("test.csv")

In [9]:
df2.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [10]:
df2.shape

(3263, 4)

# EDA

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [12]:
df=df1.append(df2)

In [13]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1.0

In [14]:
df.sort_values("id",ascending=True,inplace=True)

In [15]:
df.reset_index(drop=True,inplace=True)

In [16]:
df["keyword"].value_counts()

ablaze                   50
lava                     50
loud%20bang              50
mass%20murder            50
massacre                 50
                         ..
forest%20fire            24
threat                   16
radiation%20emergency    14
inundation               14
epicentre                13
Name: keyword, Length: 221, dtype: int64

In [17]:
df["location"].value_counts()

USA                         141
New York                    109
United States                65
London                       58
Canada                       42
                           ...
ÌÏT: 19.123127,72.825133      1
Piedmont, CA                  1
The Interwebs!                1
denver colorado               1
Lincoln                       1
Name: location, Length: 4521, dtype: int64

# Data Cleaning

In [18]:
df["removal_char"]=df["text"].str.replace("[^a-zA-Z0-9\s]",'')
df.head(5)

C:\Users\ahmet\AppData\Local\Temp/ipykernel_10520/638019780.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["removal_char"]=df["text"].str.replace("[^a-zA-Z0-9\s]",'')

,id,keyword,location,text,target,removal_char
0,0,NaN,NaN,Just happened a terrible car crash,NaN,Just happened a terrible car crash
1,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0,Our Deeds are the Reason of this earthquake Ma...
2,2,NaN,NaN,"Heard about #earthquake is different cities, s...",NaN,Heard about earthquake is different cities sta...
3,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",NaN,there is a forest fire at spot pond geese are ...
4,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0,Forest fire near La Ronge Sask Canada

In [19]:
import nltk
from nltk import word_tokenize

In [20]:
#lowercase and worD_tokenize
df["removal_char"]=df["removal_char"].apply(lambda x :word_tokenize(x.lower()))

In [21]:
from textblob import TextBlob , Word
from nltk.corpus import stopwords

In [22]:
stop_words=list(stopwords.words("english"))
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [23]:
df["stopword_removal"]=df["removal_char"].apply(lambda x :[word for word in x if word not in stop_words])
df.head()

,id,keyword,location,text,target,removal_char,stopword_removal
0,0,NaN,NaN,Just happened a terrible car crash,NaN,"[just, happened, a, terrible, car, crash]","[happened, terrible, car, crash]"
1,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0,"[our, deeds, are, the, reason, of, this, earth...","[deeds, reason, earthquake, may, allah, forgiv..."
2,2,NaN,NaN,"Heard about #earthquake is different cities, s...",NaN,"[heard, about, earthquake, is, different, citi...","[heard, earthquake, different, cities, stay, s..."
3,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",NaN,"[there, is, a, forest, fire, at, spot, pond, g...","[forest, fire, spot, pond, geese, fleeing, acr..."
4,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0,"[forest, fire, near, la, ronge, sask, canada]","[forest, fire, near, la, ronge, sask, canada]"

In [24]:
df["stopword_removal"]=df["stopword_removal"].apply(lambda x : " ".join(x))

#kelimeler arasına boşluk koyarak birleştirdik

In [25]:
from nltk import WordNetLemmatizer

df["stopword_removal"]=df["stopword_removal"].apply(lambda x : WordNetLemmatizer().lemmatize(x))

#Köklerini bulduk

In [26]:
import sklearn
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

In [27]:
df.head()

,id,keyword,location,text,target,removal_char,stopword_removal
0,0,NaN,NaN,Just happened a terrible car crash,NaN,"[just, happened, a, terrible, car, crash]",happened terrible car crash
1,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1.0,"[our, deeds, are, the, reason, of, this, earth...",deeds reason earthquake may allah forgive us
2,2,NaN,NaN,"Heard about #earthquake is different cities, s...",NaN,"[heard, about, earthquake, is, different, citi...",heard earthquake different cities stay safe ev...
3,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",NaN,"[there, is, a, forest, fire, at, spot, pond, g...",forest fire spot pond geese fleeing across str...
4,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1.0,"[forest, fire, near, la, ronge, sask, canada]",forest fire near la ronge sask canada

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10876 non-null  int64
 1   keyword           10789 non-null  object
 2   location          7238 non-null   object
 3   text              10876 non-null  object
 4   target            7613 non-null   float64
 5   removal_char      10876 non-null  object
 6   stopword_removal  10876 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 594.9+ KB

In [29]:
df.drop(["text","keyword","location","removal_char"],axis=1,inplace=True)

In [30]:
df.isnull().sum()

id                     0
target              3263
stopword_removal       0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10876 entries, 0 to 10875
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                10876 non-null  int64
 1   target            7613 non-null   float64
 2   stopword_removal  10876 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 255.0+ KB

In [32]:
test=df[df["target"].isnull()]
train=df[df["target"].notnull()]

In [33]:
vect=CountVectorizer(max_features = 12349)
# kelimeleri vektör haline getirdik
X_train=vect.fit_transform(train["stopword_removal"])
X_test=vect.fit_transform(test["stopword_removal"])

In [34]:
X_train.shape,X_test.shape

((7613, 12349), (3263, 12349))

In [35]:
z=train[["target"]]

In [36]:
z.shape

(7613, 1)

# Importing necessary Libs

In [37]:
from sklearn.naive_bayes import GaussianNB , BernoulliNB # 2 şey için
from sklearn.naive_bayes import MultinomialNB# 3 ve daha fazla için
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [38]:
x=X_train.toarray()
y=X_test.toarray()

In [39]:
test_id=test.id.to_list()

In [40]:
g=GaussianNB()
b=BernoulliNB()
k=KNeighborsClassifier(n_neighbors=3)
d=DecisionTreeClassifier()
gbc=GradientBoostingClassifier(     )
svc=SVC()

In [41]:
algorithms=[g,b,k,d,gbc,svc]
algo=["g","b","k","d","gbc","svc"]

In [46]:
for i in algorithms:
    y_pred=i.fit(x,z).predict(y)
    dfg=pd.DataFrame(columns=["id","target"])
    df5=pd.DataFrame(y_pred).astype(int)
    dfg["target"]= df5
    dfg["id"]=test_id
    dfg.to_csv("final_data{}.csv".format(algo[algorithms.index(i)]),index=False)

C:\Users\ahmet\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ahmet\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ahmet\AppData\Roaming\Python\Python39\site-packages\sklearn\neighbors\_classification.py:200: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\ahmet\AppData\Roaming\Python\Python39\site-packages\sklearn\ensemble\_gb.py:570: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ahmet\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)